body {
  margin: 0;
  background: black;
  touch-action: manipulation;
}
input[type=range] {
  -webkit-appearance: none;
}
/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: none;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: none;
}

div.banner {
  color: white;
  background: black;
  display: flex;
  align-items: center;
  gap: 4px;
  width: "100%";
  font-family: monospace;
  font-size: 0.9rem;
}
div.banner > input {
  padding: 0px;
  margin: 0;
}
div.banner > a {
  color: violet;
}
